// CUSTOM BADGES //

/* GENERAL */
#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background: none !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

/* keinwein */

#user-rollover.id-22029396 .badge-box i.bdg,
.id-22029396 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/EMAmBs4.gif?1");
}

/* Lukse:P */

#user-rollover.id-5485803 .badge-box i.bdg,
.id-5485803 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/sDg8fnC.gif?1");
}

// CUSTOM DUTIES //

/* GENERAL */

#user-rollover .meta{
   	min-height: 126px;
}
#user-rollover .meta.subscriber {
	min-height: 146px;
}

/* keinwein */

#chat [data-cid^='22029396-'] .un  /*keinwein*/
{
    top: -2px !important;
    position: relative;
}
#chat [data-cid^='22029396-'] .rcs-user-info {
    position: relative !important;
    top: -2px !important;
}

/* keinwein dev icon */

#chat [data-cid^='22029396-'] .un:before { /*badge next to name in chat*/
		content: url("https://i.imgur.com/4B6oDVO.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-22029396 .meta:before { /*user rollover badge image*/
    		content: url("https://i.imgur.com/4B6oDVO.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-22029396 .meta:after { /*user rollover badge info*/
    		content: 'Dauzymas Developer';
    		color: #FF8A00; position: absolute; top: 118px; left: 130px;
}
#user-rollover.id-22029396 .meta{
		height: 170px !important;
}

// CUSTOM NICKNAME COLOR

/* keinwein */

#user-rollover.id-22029396 .username:hover,
#chat [data-cid^="22029396-"] span.un.clickable:hover {
    animation: rainbow 10s infinite;
}
