// CUSTOM BADGES

// GENERAL
#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background: none !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    }
    
    * keinwein *
    #user-rollover.id-22029396 .badge-box i.bdg,
.id-22029396 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/QXsAVLy.gif");
    }
