// CUSTOM BADGES //

// GENERAL
#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background: none !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

* keinwein *
#user-rollover.id-22029396 .badge-box i.bdg,
.id-22029396 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/EMAmBs4.gif?1");
}

* Lukse:P *
#user-rollover.id-5485803 .badge-box i.bdg,
.id-5485803 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/sDg8fnC.gif?1");
}

// CUSTOM DUTIES

/* VIP text in rollover */

/* keinwein */
#user-rollover.id-22029396 .info .role span,

/* killer0wave */
#user-rollover.id-27677457 .info .role span,

/* Pie */
#user-rollover.id-26073729 .info .role span {
    visibility: hidden;
}

/* keinwein */
#user-rollover.id-22029396 .info .role span:after,

/* killer0wave */
#user-rollover.id-27677457 .info .role span:after,

/* Pie */
#user-rollover.id-26073729 .info .role span:after {
    visibility: visible;
    content: 'VIP';
}

/* Burkes */
#user-rollover.id-3703511 .info .role span:after {
    content: ' / VIP';
}

/* VIP Icon */

/* Burkes */
.id-3703511 .msg .from i.icon-chat-dj,
#waitlist .list .user[data-uid="3703511"] .meta.is-staff .name .icon-chat-dj,
#user-rollover.id-3703511 .info .role i.icon-chat-dj,
#user-lists .list.room .user.id-3703511 .icon-chat-dj,

/* keinwein */
.id-22029396 .msg .from i.icon-chat-host,
#waitlist .list .user[data-uid="22029396"] .meta.is-staff .name .icon-chat-host,
#user-rollover.id-22029396 .info .role i.icon-chat-host,
#user-lists .list.room .user.id-22029396 .icon-chat-host,

/* killer0wave */
.id-27677457 .msg .from i.icon-chat-dj,
#waitlist .list .user[data-uid="27677457"] .meta.is-staff .name .icon-chat-dj,
#user-rollover.id-27677457 .info .role i.icon-chat-dj,
#user-lists .list.room .user.id-27677457 .icon-chat-dj,

/* Pie */
.id-26073729 .msg .from i.icon-chat-dj,
#waitlist .list .user[data-uid="26073729"] .meta.is-staff .name .icon-chat-dj,
#user-rollover.id-26073729 .info .role i.icon-chat-dj,
#user-lists .list.room .user.id-26073729 .icon-chat-dj {
    background: url("https://nightbloo.github.io/plug/icons/vip.png") no-repeat !important;
}

/* VIP Icon User Rollover Fix */

/* Burkes */
#user-rollover.id-3703511 .info .role i.icon-chat-dj,

/* keinwein */
#user-rollover.id-22029396 .info .role i.icon-chat-host,

/* killer0wave */
#user-rollover.id-27677457 .info .role i.icon-chat-dj,

/* Pie */
#user-rollover.id-26073729 .info .role i.icon-chat-dj {
    margin-left: 60px;
    position: absolute;
}

/* VIP Color */

/* Burkes */
.id-3703511 .msg .from.dj .un,
#waitlist .list .user[data-uid="3703511"] .meta.is-staff .name .icon-chat-dj + span,
#user-rollover.id-3703511 .info .role span,
#user-rollover.id-3703511 .meta .username,
#user-lists .list.room .user.id-3703511 .name,

/* keinwein */
.id-22029396 .msg .from.dj .un,
#waitlist .list .user[data-uid="22029396"] .meta.is-staff .name .icon-chat-host + span,
#user-rollover.id-22029396 .info .role span,
#user-rollover.id-22029396 .meta .username,
#user-lists .list.room .user.id-22029396 .name,

/* killer0wave */
.id-27677457 .msg .from.dj .un,
#waitlist .list .user[data-uid="27677457"] .meta.is-staff .name .icon-chat-dj + span,
#user-rollover.id-27677457 .info .role span,
#user-rollover.id-27677457 .meta .username,
#user-lists .list.room .user.id-27677457 .name,

/* Pie */
.id-26073729 .msg .from.dj .un,
#waitlist .list .user[data-uid="26073729"] .meta.is-staff .name .icon-chat-dj + span,
#user-rollover.id-26073729 .info .role span,
#user-rollover.id-26073729 .meta .username,
#user-lists .list.room .user.id-26073729 .name {
    color: #2cc4d1 !important;
}

/* VIP Border */

/* Burkes */
#chat .cm.message.id-3703511,
#chat .cm.emote.id-3703511,

/* keinwein */
#chat .cm.message.id-22029396,
#chat .cm.emote.id-22029396,

/* killer0wave */
#chat .cm.message.id-27677457,
#chat .cm.emote.id-27677457,

/* Pie */
#chat .cm.message.id-26073729,
#chat .cm.emote.id-26073729 {
    border-left: #2cc4d1 2px dotted !important;
    border-right: #2cc4d1 2px dotted !important;
}

/* Burkes */
#chat .cm.message.id-3703511:hover,
#chat .cm.emote.id-3703511:hover,

/* keinwein */
#chat .cm.message.id-22029396:hover,
#chat .cm.emote.id-22029396:hover,

/* killer0wave */
#chat .cm.message.id-27677457:hover,
#chat .cm.emote.id-27677457:hover,

/* Pie */
#chat .cm.message.id-26073729:hover,
#chat .cm.emote.id-26073729:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
}

/* VIP Inline */

/* Burkes */
.emote.id-3703511 .text,

/* keinwein */
.emote.id-22029396 .text,

/* killer0wave */
.emote.id-27677457 .text,

/* Pie */
.emote.id-26073729 .text {
    color: #2cc4d1 !important;
}
