// ICONS

i.icon.icon-current-dj {
    background-image: url("https://i.imgur.com/u3t071V.png?1") !important; 
    background-position: 1px 0px;
}

i.icon.icon-join-waitlist-big,
i.icon.icon-current-dj-white {
    background-image: url("https://dl.dropboxusercontent.com/s/e2qat1j9h7svd3f/Join.png") !important;
    background-position: 1px 0px;
}    
