/* Readability fixes */
  /* Text shadow */
    /* Large */
#room-name,
#now-playing-media,
#header-panel-bar > #users-button,
#header-panel-bar > #waitlist-button,
#chat-header,
#chat,
#footer-user .info,
#your-active-playlist,
#your-next-media,
#waitlist .header,
#app .app-right .user,
#app .app-right .friends,
#user-lists .group,
#rcs-menu{
  text-shadow: 0px 0px 6px black,
               0px 0px 6px black,
               0px 0px 6px black !important;
}   /* Small */
#app .dark-label,
#room-host .username,
#now-playing-dj .username,
#now-playing-time,
#volume span,
#chat-messages,
#chat-input-field,
#list-filter-input,
#toast-notifications{
  text-shadow: 0px 0px 3px black,
               0px 0px 3px black,
               0px 0px 3px black !important;
/* Padding fixes */
} /* Text shadow cutoff */
#room-name,
#room-host,
#now-playing-media,
#now-playing-dj,
#app .app-right .friends .name span,
#app .app-right .friends .room
{
  padding-left: 6px !Important;
  margin-left: -6px !Important;
}
#waitlist .position,
#your-next-media span{
  padding-left: 6px !Important;
}
#footer .icon.icon-next-track{
  margin-left: 7px !Important;
}  
